# This is version to aspect term extraction and aspect category detection using SATLabel framework
https://www.researchgate.net/publication/359792164_SATLabel_A_Framework_for_Sentiment_and_Aspect_Terms_Based_Automatic_Topic_Labeling

In [9]:
import pandas as pd
import gensim

In [10]:
# read preprocess dataset
df = pd.read_csv('dataset/preprocess_movies_20k.csv')

In [11]:
df.head()

                                                text  label
0  grew 1965 watching loving thunderbird mate sch...      0
1  put movie dvd player sat coke chip expectation...      0
2  people know particular time past like feel nee...      0
3  even though great interest biblical movie bore...      0
4  terrible movie everyone said made laugh cameo ...      0